<div class="container" style="padding:100px">
    <div class="ui three stackable cards">
        <div class="card">
            <div class="content">
                <div class="header">Stephen McMurtry</div>
                <div class="meta">Computer Science and English Literature</div>
                <div class="description">
                    Stephen designed the story-telling website.  He enjoys bicycles and coffee.  Next year, he will be
                    working as a software developer in Seattle, WA.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Alex Weilhammer</div>
                <div class="meta">English Writing</div>
                <div class="description">
                    Alex wrote most of the micro-fiction and enjoys nothing more than a compelling story.  He will live in Indianapolis
                    after graduation, withering away, trying to write something good before he dies.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">The Professors</div>
                <div class="meta">Brown, Heithaus, Stewart</div>
                <div class="description">
                    Dr. Harry Brown is head of the English Department.  Dr. Joe Heithaus teaches creative writing, with a focus in poetry.  Dr. Khadija
                    Stewart teaches Computer Science, with a focus in Security.
                </div>
            </div>
        </div>
    </div>
</div>