<script src="http://localhost:3001/socket.io/socket.io.js"> </script>
<script>
    // Turn on socket.io

    var socket = io.connect('http://localhost:3001');

    socket.emit('getStories');
</script>

<div class="container" style="padding: 100px">

    <div id="storyList"></div>

    <script>
        socket.on('story', function(data) {
            var story = JSON.parse(data);
            $("#storyList").append("<h2>" + story.title + "</h2><br>By " + story.author + "<br><p>" + story.description + "</p><br>");
            $.each(story.tags, function(index, value) {
                $("#storyList").append('<a class="ui tag label">' + value + '</a>');
            });
        });
    </script>
</div>