<script src="/javascripts/socket.io.js"></script>
<script>
    var socket = io.connect('localhost:3000');

 //   var socket = io.connect('http://localhost:5000');

    socket.emit('getStories');
</script>

<div class="container" style="padding: 100px">

    <div id="storyList"></div>

    <script>
        socket.on('story', function(data) {
            var story = JSON.parse(data);
            $("#storyList").append("<div class='ui grid'><div class='twelve wide column'>" +
                    "<h2><a style='color:#666666' href='/stories/" + story._id + "'>" + story.title +
                    "</a></h2><br>By " + story.author +
                    "<br><p>" + story.description + "</p><br>" + "</div><div class='four wide column'>" +
                    "<img class='ui small circular image' src='https://www.game-debate.com/images/members/594119/avatar/original/danswor.jpg'</img></div>");
            $.each(story.tags, function(index, value) {
                $("#storyList").append('<a class="ui tag label">' + value + '</a>');
            });
            $("#storyList").append("</div><br><br>");
        });
    </script>
</div>