<div style="padding:100px">
    <h1>Welcome to Story Feed</h1>
    <br>
    <p>Alex reached out to Stephen in the summer of 2015 with an idea for a story-telling website.&#32; He had an idea about how
        to tell stories on digital platforms.&#32;and he needed Stephen's expertise to get the job done.</p>

    <p>We don't have a name for the project just yet.&#32;but we like to call these types of stories hybrids.&#32;Hybrids use
    multiple storytelling elements to create a compelling reading experience.&#32;The story itself is greater than the medium
        in which it's told.&#32;The words themselves are only one part of the story.&#32;as are the sounds and images that accompany them.</p>

    <p>I wanted the stories to be short.&#32;really short.&#32;in fact.&#32;I researched prose-poems and flash fiction to figure out
        how to tell a story as concisely as possible.&#32;I also wanted to write short pieces to keep people's attention.</p>

    <p>While I really enjoy literary fiction.&#32;I understand why the typical non-English major wouldn't be drawn to the genre.
        The stories are normally quite long.&#32;and the writing is highly sophisticated.&#32;Hybrids.&#32;if done correctly.&#32;can still
        be literary even if it's only a 300-word story.&#32;They can be artistic.&#32;but they also can be simple.</p>

    <p>We use slides to house the content in specific arrangements.&#32;Similar to reading a billboard.&#32;reading each slide
        should be quick and easy.&#32; With focused writing and deliberate crafting.&#32;hybrids can become stimulating and rewarding,
        as it doesn't take much time to read a single story.</p>

    <p>We are excited with our progress so far.&#32;but we are prepared to work beyond the scope of our Independent Study.
        The stories we will show you today are polished.&#32;but they are only a glimpse into what hybrids can become.&#32;We hope you enjoy the reading!</p>
</div>