<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"> </script>
<script>
    // Turn on socket.io
    var socket = io.connect('http://localhost:5000');

    socket.emit('getStory', "{{id}}");
    //ui raised very padded text container segment
</script>

<div class="container" style="padding-top: 70px">

    <div class="ui raised very padded text container segment">
        <div id="audioBox"></div>
        <div id="storyBox" class="wrapper">
            <br>
        </div>
    </div>

</div>

<script>
    socket.on('story', function(data) {
        var story = JSON.parse(data);
        var storySlides = story.slides;

        var $storyDiv = $("#storyBox");
        var $audioBox = $("#audioBox");
        var x = 0;

        var counter = 0;

        var myFunction = function(){
            clearInterval(interval);
            var currentSlide = storySlides[x];

            // Out with the old
            $storyDiv.empty();

            $("#slideVideo").remove();

            // Text and Background formatting
            $storyDiv.css({'background-color': currentSlide.bg_color,
                'font-size': currentSlide.text_size,
                'font-family': currentSlide.text_font,
                'color': currentSlide.text_color,
                'text-align': currentSlide.text_align});
            $storyDiv.html(currentSlide.slide_text);

            // Audio calling
            if(currentSlide.audio_file != "") {
                $audioBox.append("<audio id='slideAudio' src='" + currentSlide.audio_file + "' autoplay></audio>");
            }

            // Image calling
            $storyDiv.css({'background-image': currentSlide.bg_image,
                'background-size': '100%'});

            // Video calling
            if(currentSlide.video_file != "") {
                $storyDiv.append("<video class='videoInsert' id='slideVideo' src='" + currentSlide.video_file + "' autoplay> style='display: none'</video>");
            }

            // Set slide length
            counter = storySlides[x].slide_length * 1000;

            x++;
            interval = setInterval(myFunction, counter);
        };

        var interval = setInterval(myFunction, counter);

    });
</script>