<script src="http://localhost:3001/socket.io/socket.io.js"> </script>
<script>
    // Turn on socket.io
    var socket = io.connect('http://localhost:3001');

    socket.emit('getStory', "{{id}}");
    //ui raised very padded text container segment
</script>

<div class="container" style="padding: 100px">

    <div class="ui raised very padded text container segment">
        <div id="storyBox" class="wrapper"><br></div>
    </div>

</div>

<script>
    socket.on('story', function(data) {
        var story = JSON.parse(data);
        var storySlides = story.slides;

        var $storyDiv = $("#storyBox");
        var x = 0;

        var counter = 0;

        var myFunction = function(){
            clearInterval(interval);
            var currentSlide = storySlides[x];
            $storyDiv.css({'background-color': currentSlide.bg_color,
                'font-size': currentSlide.text_size,
                'font-family': currentSlide.text_font,
                'color': currentSlide.text_color,
                'text-align': currentSlide.text_align});
            $storyDiv.html(currentSlide.slide_text);

            console.log("storySlides length is " + storySlides.length);
            console.log(" x is " + x + " and slide_txt is " + storySlides[x].slide_text);

            counter = storySlides[x].slide_length * 100;
            console.log("Hit the else and counter is " + counter);

            x++;
            interval = setInterval(myFunction, counter);
        };

        var interval = setInterval(myFunction, counter);

    });
</script>