<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/typed.js"></script>
<script>
    // Connect to socket.io and request story
    var socket = io.connect('/');
    socket.emit('getStory', "{{id}}");
</script>

<div class="container" style="padding-top: 70px">

    <div class="ui raised very padded text container segment">
        <div id="audioBox"></div>
        <div id="storyBox" class="wrapper">
            <br>
        </div>
    </div>

</div>

<script>
    socket.on('story', function(data) {
        // Parse and store story
        var story = JSON.parse(data);
        var storySlides = story.slides;

        // Prepare presentation boxes and counter
        var $storyDiv = $("#storyBox");
        var $audioBox = $("#audioBox");
        var x = 0;
        var counter = 0;

        var displayStory = function(){
            // Delete last interval
            clearInterval(interval);

            // Pull in information from storySlides array
            var currentSlide = storySlides[x];

            // Empty div and remove video box
            $storyDiv.empty();
            $("#slideVideo").remove();

            // Background formatting
            $storyDiv.css({'background-color': currentSlide.bg_color,
                'font-size': currentSlide.text_size,
                'font-family': currentSlide.text_font,
                'color': currentSlide.text_color,
                'text-align': currentSlide.text_align});

            if(currentSlide.textTyped) {
                var text = currentSlide.slide_text;

                //text is split up to letters
                $.each(text.split(''), function(i, letter){

                    //we add 100*i ms delay to each letter
                    setTimeout(function(){

                        if(letter == '\n') {
                            $('#storyBox').html($('#storyBox').html() + '<br><br>');
                        } else {
                            //we add the letter to the container
                            $('#storyBox').html($('#storyBox').html() + letter);
                        }

                    }, 50*i);
                });
            } else {
                $storyDiv.html(currentSlide.slide_text);
            }

            // Audio calling
            if(currentSlide.audio_file != "") {
                $audioBox.append("<audio id='slideAudio' src='" + currentSlide.audio_file + "' autoplay></audio>");
            }

            // Image calling
            $storyDiv.css({'background-image': currentSlide.bg_image,
                'background-size': '100%'});

            // Video calling
            if(currentSlide.video_file != "") {
                $storyDiv.append("<video class='videoInsert' id='slideVideo' src='" + currentSlide.video_file + "' autoplay> style='display: none'</video>");
            }

            // Set slide length
            counter = storySlides[x].slide_length * 1000;

            // Prepare next interval and iterate through story
            x++;
            interval = setInterval(displayStory, counter);
        };

        var interval = setInterval(displayStory, counter);

    });
</script>