body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
    width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
}
.wrapper:after {
    padding-top: 60%;
    /* 16:9 ratio */
    display: block;
    content: '';
}