body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
    font-size: 150%;
}

/*a {
  color: #00B7FF;
}*/

.wrapper {
    width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    height: 600px;
}
.wrapper:after {
    /*padding-top: 60%;
    /* 16:9 ratio
    display: block;
    content: '';*/
}

#storyBox {
    padding: 50px;
    vertical-align: text-top;
}

.videoInsert {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.typed-cursor{
    display: none;
}